.main {
  color: black;
}

.red {
  color: map-get($colors, pink);
  font-size: 0.7rem;
}

.main_object {
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  position: relative;
  z-index: 4;

  @include breakpoint(s) {
    padding-top: 100px;
  }
  img {
    width: 300px;
    @include breakpoint(s) {
      width: 600px;
    }

    @include breakpoint(l) {
      width: 600px;
    }
    @include breakpoint(xl) {
      width: 800px;
    }
  }
  .pic1 {
    display: none;
    @include breakpoint(s) {
      display: block;
    }
  }
  .pic2 {
    display: block;
    margin-left: 80px;
    margin-top: 20px;
    @include breakpoint(s) {
      display: none;
    }
  }
}

.text-left {
  position: fixed;
  top: 50%;
  left: 30px;
  line-height: 100.2%;
  svg {
    margin-bottom: 40px;
  }
  p {
    display: none;
    @include breakpoint(s) {
      display: block;
    }
  }
}

.main h2 {
  font-family: Fira Code;
  font-size: 4rem;
  font-weight: 400;
}

.main h3 {
  font-family: Fira Code;
  font-weight: 500;
}

.home-box {
  display: flex;
  justify-content: space-between;
}

.main p {
  font-size: 0.7rem;
}

.projet__picture {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.section {
  border-bottom: 0.5px #c4c4c4 solid;
  padding: 75px;
  padding-left: 75px;
  @include breakpoint(s) {
    padding-left: 100px;
  }
  &__projets {
    overflow-x: scroll;
    &__each {
      display: flex;

      margin-top: 50px;
      width: 2000px;
      background: map-get($colors, beige);

      position: relative;
      z-index: 9;
    }
    p {
      margin-bottom: -10px;
    }
  }
  &__outils {
    display: flex;
    div {
      margin-right: 60px;
    }
  }
  &__contact {
    display: flex;
    align-items: flex-start;
  }
  @include breakpoint(s) {
    padding-left: 300px;
  }
  @include breakpoint(m) {
    padding-left: 200px;
  }
  @include breakpoint(l) {
    padding-left: 300px;
  }
  @include breakpoint(xl) {
    padding-left: 400px;
  }
  @include breakpoint(xxl) {
    padding-left: 700px;
  }
}

.projet {
  margin-right: 100px;
  width: 300px;
  a {
    text-decoration: none;
  }
  p {
    margin-bottom: 5px;
  }
  h5 {
    margin-bottom: 5px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(0.98);
    img {
      opacity: 0.7;
    }
  }
}

.nomargin {
  margin-bottom: -10px;
}

.envoyer {
  margin-top: 60px;
  margin-left: 30px;
}

input {
  background: transparent;
  border: none;
  outline: none;
}

textarea {
  background: transparent;
  border: none;
  outline: none;
}

form {
  h2 {
    color: map-get($colors, primary) !important;
  }
}

form button {
  border: none;
  outline: none;
  background: transparent;
  color: black;
  padding: 0px;
  &:hover {
    cursor: pointer;
  }
}

::placeholder {
  color: map-get($colors, primary) !important;
  opacity: 1;
}

label {
  color: map-get($colors, primary) !important;
}

input:-internal-autofill-selected {
  background: transparent !important;
}
